* {
  padding: 0;
  margin: 0;
}

.story-component {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 35px 130px 35px;
  width: 60%;
  margin: auto;
}

.author-details {
  grid-row: span;
  /* border: 1px solid red; */
}

.story-details {
  grid-row: span;
  /* border: 1px solid blue; */
}

.story-meta-data {

  grid-row: span;
  /* border: 1px solid brown; */
}

/* src/App.css */
.profile {
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header img {
  border-radius: 50%;
  margin-right: 20px;
}

.profile-stats {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
