.story-component {
  border-radius: 2px;
  display: grid;
  grid-template-rows: 45px 130px 45px;
  width: 60%;
  margin: auto;
  outline: none;
  background-color: white;
  position: relative;
  cursor: pointer;
  padding-top: 10px;
  z-index: 1;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(160, 159, 159, 0.445);
  margin-bottom: 10px;
}

#Authors {
  width: 500px;
  margin: auto;
  font-size: 40px;
}

.story-component:hover {
  transform: scale(1.005);
}

.author-details {
  padding-bottom: 10px;
  padding-top: 10px;
  grid-row: span;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  height: 30px;
  text-decoration: none;
}

.author-details:hover{
  color: rgb(6, 6, 78);
  letter-spacing: 0.1px;
  text-decoration: underline black;
}

.story-details {
  grid-row: span;
  position: inherit;
  padding-left: 20px;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.story-title {
  margin: 10px;
  font-size: 25px;
  width: 700px;
  line-height: 35px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.story-description {
  font-size: 16px;
  margin-top: 24px;
  margin-left: 13px;
  max-width: 70%;
  position: relative;
  overflow: hidden;
}

.story-details::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.story-cover-image {
  height: 80px;
  position: absolute;
  right: 10px;
  top: 40px;
}

.published-time {
  font-weight: lighter;
  margin: 10px;
  padding-left: 20px;
}

.story-meta-data {
  grid-row: span;
  color: rgba(0, 0, 0, 0.574);
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.author-avatar {
  height: 40px;
  width: 40px;
  padding: 10px 5px 10px 0px;
  border-radius: 50%;
}

.author-name {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 4px;
  text-decoration:antiquewhite;
}

.author-name::first-letter {
  text-transform: capitalize;
}