.main-header {
    border: none;
    border-bottom: 2px solid rgb(216, 210, 210);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0px; 
    height: 50px;
    z-index: 3;
    background-color: white;
    margin-bottom: 2px;
}

.title {
    font-size: 42px;
    padding-left: 8px;
    cursor: pointer;
    letter-spacing: -1.89px;
  }

.write-button {
    padding: 12px 20px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 25px;
    position: absolute;
    right: 10%;
    letter-spacing: 1px;
}