.profile-page {
    display: flex;
}
.main-stories {
    border-right: 1px solid rgba(128, 128, 128, 0.233);
    width: 65%;
}
.profile {
    position: fixed;
    left: 65%;
    width: 35%;
    margin-top: 30px;
}
.user-stories-component {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.profile .profile-section {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}
.profile .profile-section .user-avatar {
    border-radius: 50%;
}
.profile .profile-section .user-name {
    margin-top: 10px;
    font-size: 15px;
}
.profile .profile-section .followers-count {
    color: grey;
    font-size: 18px;
    margin-top: 10px;
}
.user-follow-and-followers-container {
    display: flex;
    gap: 20px;

    justify-content: center;
}
.followers, .following {
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}
.follower-data {
    margin-bottom: 15px;
    margin-left: 20px;
}
.follower-data a{
    display: flex;
    align-items: center;
}
.follower-data img {
    border-radius: 50%;
    max-width: 50px;
    margin-right: 15px;
}
.followers-list-username:hover {
    text-decoration: underline;
    color: black;
}
.profile-user-name {
    margin-left: 150px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    border-bottom: 1px solid rgba(160, 159, 159, 0.445);
}
