
.main-header {
    background-color: white;
}
.profile-user-name {
    font-size: 44px;
    font-weight: 600;
    padding: 30px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: rgba(128, 128, 128, 0.068);
}

.about-user {
    margin-top: 5px;
    width: 625px;
    left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 63px;
    margin-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
}
.profile {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    margin-left: 670px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   padding-top: 30px;
    
}
.profile:focus {
    box-shadow: black;
}
.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 90px;

}

.user-avatar {
    height: 35px;
    width: 35px;
    position: absolute;
    border-radius: 50%;
}
.user-name {
    margin-top: 25px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding-left: 90px; */
   
}
.user-id {
    font-style: 12px;

}
.profile-stats {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.profile-stats-line {
    height: 1px;
    width: 115px;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    top: 187px;
    left: 97px;
}
.followers {
    position: relative;
    margin-top: 10px;
    left: 105px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.followers-list {
    margin-top: 30px;
    position: relative;
    /* border: 1px solid red; */
    height: 230px;
    width: 320px;
    left: 66px;
    padding: 10px;
    overflow-y: auto;
}

.follower-data {
    display: flex;
    height: 50px;
    width: 250px;
    margin-top: 5px;
    margin-left: 20px;
    align-items: center;
    padding: 2px 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    border: 1px solid #001001;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.followers-list-profile {
    height: 35px;
    margin-right: 13px;
    border-radius: 50%;
}

.following {
    position: relative;
    margin-top: 10px;
    color: gray;
    right: 57px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
