#yourStories nav {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

#yourStories h1 {
    font-size: 50px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}
.active{
    color:red;
    text-decoration: underline;
}
#yourStories nav a {
    font-size: 18px;
    cursor: pointer;
    margin: 6px;
}

.draft,
.publish {
    grid-column: span;
    text-decoration: none;
}

.draft {
    text-align: right;
}



.drafts-container,
.published-container {
    padding: 30px 0 0 50px;
}

.all-drafts-unit,
.all-published-unit {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.draft-unit,
.a-story-unit {
    width: 600px;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eaeaeafc;
    border-bottom:1px solid black ;
}

.draft-unit:hover,
.a-story-unit:hover {
    background-color: #b7b6b633;
    /* text-decoration: underline; */
}

.draft-title,
.a-story-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.edit-draft-button,
.publish-button {
    padding: 5px 5px 3px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    z-index: 3;
}