main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  margin: auto;
}
.main-title {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 45px;
  margin-top: 10px;
}
#Editorjs{
  text-align: left;
  padding: 0%;
  width: fit-content;
}
.story-author-details-container {
  display: flex;
  font-size: large;
  width: auto;
  height: fit-content;
  padding: 3px;
  align-items: center;
  text-transform: capitalize;
  position: relative;
}

.story-title {
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.story-coverpage-container{
  width: 100%;
  max-height: 500px;
  min-height: 200px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.story-coverpage {
  margin: auto;
  object-fit: contain;
}

.story-content-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 1000px;
}

.story-author-image {
  height: 50px;
  border-radius: 50%;
}


.story-content {
  width: inherit;
}

.content-paragraph,
.content-header,
.content-delimiter {
  margin: 20px;
  content: paragraph;
  line-height: 25px;
  font-size: larger;
}

.content-paragraph::first-letter {
  text-transform: capitalize;
}

.content-paragraph {
  font-family: sans;
}
.story-author-account-info-container .story-author-name {
  margin-left: 10px;
  font-size: 16px;
}
.ce-block__content {
  max-width: 1000px;
}
.all-actions-container {
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding: 10px;
}
.claps-response-cotainer {
  display: flex;
}
.claps-container, .response-container {
  display: flex;
  cursor: pointer;
}
.claps-count, .response-count {
  margin-left: 3px;
}
.response-container {
  margin-left: 20px;
}
.all-links-container {
  display: flex;
}
.copy-link-container {
  cursor: pointer;
}
.hidden {
  display: none;
}