#welcomeHeader,#welcomeBody{
    background-color: #F7F4ED;
}
#welcomeHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-left: 16px;
    padding-right: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    height: 20%;
    top: 0px;
}
#welcomeHeader h1 {
    font-size: 48px;
    margin-left: 4%;
    cursor: default;
    letter-spacing: -2px;
    cursor: pointer;

}
#signin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 35px;
    background-color: black;
    color: white;
    /* height: 20px; */
    width: 90px;
    text-align: center;
    padding: 8px;
    margin-right: 60px;
}

.start-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 35px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    margin-right: 30px;
    position: absolute;
    top: 75%;
    left: 4%;
    width: 150px;
}
#welcomeBody h2 {
    margin-left: 60px;
    margin-top: 60px;
    font-size: 145px;
    height: fit-content;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 0.9;
    letter-spacing: -3px;
}
#welcomeBody p {
    margin-left: 65px;
    margin-top: 10px;
    font-size: 25px;
    height: fit-content;
    font-weight: normal;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#welcomeBody {
    padding-left: 30px;
    width: 100%;
    padding: 3% 0% 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid grey;
} 
#welcomeBody img {
    height: 538px;
    width: 28%;
}
#welcomeFooter {
    background-color: #F7F4ED;
    padding: 30px;
    height: 20%;
}
#welcomeFooter nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#welcomeFooter a {
    text-decoration: none;
    color: black;
}
.popup {
    background-color: #fff;
    padding: 15px 40px 30px 40px;
    display: flex;
    height: fit-content;
    width:fit-content;
    flex-direction: column;
    align-items: center;
    border:2px solid white;
    position: fixed;
    top: 30%;
    left: 40%;
    border-radius: 5px;
    position: relative; 
    background-color:white;
}

.signInGitHub {
display: flex;
border: 2px solid black;
padding: 9px;
height: fit-content;
width: 175px;
margin-top: 20px;
border-radius: 30px;
justify-content: space-around;
align-items: center;
cursor: pointer;
background-color: white;
/* padding: 2px; */
}
.signInGitHub:hover {
    background-color: rgba(148, 148, 148, 0.397);
}
.signInGitHub img {
    height:38px;
    width: 42px;
    /* background-color: black;
    color: whi; */
    border-radius: 50%;
}
.signInGitHub a {
 text-decoration: none;
color: black;
font-family: sans-serif;

}
.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 27px;
    cursor: pointer;
    border: 5;
}
.close:hover {
    background-color: rgba(128, 128, 128, 0.495);
}
.hidden {
    display: none;
}
#signIn{ 
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.401);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2;
} 
.welcomeBack {
    margin-bottom: 15px;

}