#welcomeHeader,#welcomeBody{
    background-color: #F7F4ED;
}
#welcomeHeader{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 6px 150px;
}
#welcomeHeader h1 {
    font-size: 30px;
    cursor: pointer;
}
#signin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}
#welcomeBody h2 {
    font-size: 150px;
    height: fit-content;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#welcomeBody h2 p {
    font-size: 25px;
    height: fit-content;
    font-weight: normal;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#welcomeBody {
    height: fit-content;
    width: inherit;
    border-bottom: 2px solid grey;
    padding: 80px 80px 80px 0px;
}
#welcomeFooter {
    background-color: #F7F4ED;
    padding: 30px;
}
#welcomeFooter nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#welcomeFooter a {
    text-decoration: none;
    color: black;
}
.popup {
    background-color: #fff;
    padding: 30px;
    display: flex;
    height: fit-content;
    width:fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 5px;
    position: relative; 
    background-color:white;
}

.signInGitHub {
border-radius: 20px;
display: flex;
border: 2px solid black;
padding: 9px;
height: fit-content;
width: fit-content;
margin-top: 20px;
border-radius: 32px;
justify-content: space-between;
align-items: center;
cursor: pointer;
}
.signInGitHub img {
    height:38px;
    width: 38px;
}
.signInGitHub a {
 text-decoration: none;
}
.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 27px;
    cursor: pointer;
}
.hidden {
    display: none;
}
#signIn{ 
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2; 
} 