#yourStories nav{
<<<<<<< HEAD
    display: flex;
    column-gap: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
}
#yourStories nav a:hover{
    color:black;
}

=======
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
>>>>>>> 1b16f82f49a539545e26c4c9b0147ba1cd139224
#yourStories h1{
    font-size: 50px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}
#yourStories nav a{
    font-size: 18px;
<<<<<<< HEAD
    color:#c2b7b7;
    cursor:pointer;
    margin: 6px;
=======
    cursor:pointer;
    margin: 6px;
}
.draft, .publish {
    grid-column: span;
}
.draft {
    color: rgb(239, 143, 143);
    text-align: right;
}
.publish {
    color: lightgreen;
}
.publish:hover {
    color: green;
}
.draft:hover {
    color: red;
>>>>>>> 1b16f82f49a539545e26c4c9b0147ba1cd139224
}