.story-component {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 35px 120px 35px;
  width: 60%;
  margin: auto;
  position: relative;
}

.author-details {
  grid-row: span;
  border: 1px solid red;
}

.story-details {
  grid-row: span;
  border: 1px solid blue;
  position: inherit;
}

.story-cover-image {
  height: 70px;
  aspect-ratio: 16/9;
  position: absolute;
  right: 10px;
  top: 20px;
}

.story-meta-data {
  grid-row: span;
  border: 1px solid brown;
}

.author-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}